.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    max-width: 500px;
}

.post-image {
    width: 100%;
    border-radius: 8px;
}

.post-details {
    margin-top: 10px;
}

.post-caption {
    font-size: 18px;
    margin-bottom: 5px;
}

.post-comment {
    font-size: 16px;
    margin-bottom: 5px;
}

.post-like {
    font-size: 14px;
    color: #999;
}
button{
    background-color: black;
}